<div class="mt-3">
  <small><i class="pi pi-id-card me-1"></i>{{requisicao?.id}}</small>
  <h2 class="fs-4 card-title text-primary fw-semibold mb-3">{{requisicao?.descricao}}</h2>
  <ul>
    <li><strong>Destino:</strong> {{requisicao?.departamento?.nome}} </li>
    <li><strong>Solicitante:</strong> {{requisicao?.funcionario?.nome}} </li>
    <li><strong>Data de Abertura:</strong> {{requisicao?.dataDeAbertura.toDate() | date: "dd/MM/yyyy"}} </li>
    <li><strong>Destino:</strong> {{requisicao?.ultimaAtualizacao?.toDate() | date: "dd/MM/yyyy"}} </li>
  </ul>
</div>
